<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="got.css">

</head>

<body>
  
  <main>
    <div class="container">
        <div class="character">
            <h1>Character Details</h1>
        </div>
        <div class="card" style="margin-inline:11rem" >
            
            <h5 class="card-title">Card title</h5>
            <img src="https://thronesapi.com/assets/images/daenerys.jpg" style="max-width: 15rem; margin-left:21em" class="card-img-top" alt="...">
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="card-body"> 
                <div class="row mb-3">
                    <div class="col-5">
                        <div>ID:</div>
                        <div>First Name:</div>
                        <div>Last Name:</div>
                        <div>Full Name:</div>
                        <div>Title:</div>
                        <div>Family:</div>
                        <div>Image:</div>
                        <div>Image URL:</div>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Previous</a>
                <a href="#" class="btn btn-primary">Next</a>
            </div>
        </div>
    </div>

  </main>
  
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>