*,html{
    margin: 0;
    padding: 0;
}
:root{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(193, 75, 152);
    padding: 3rem;
    border-radius: 5px;
}
h3{
    margin: 0 20px;
}
button{
    padding: 10px 20px;
    background-color: rgb(125, 190, 50);
    color: aliceblue;
    font-size: large;
    border-radius: 3px;
    border-style: none;
}
.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}