<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.stackroute.domain.Actor" id="Actor">
        <constructor-arg value="Jeeva" />
        <constructor-arg value="Female" />
        <constructor-arg value="22" />
    </bean>
    <bean class="com.stackroute.domain.Actor" id="Actor1">
        <constructor-arg value="Sona" />
        <constructor-arg value="Female" />
        <constructor-arg value="21" />
    </bean>
    <bean class="com.stackroute.domain.Actor" id="Actor2">
        <constructor-arg value="Anu" />
        <constructor-arg value="Female" />
        <constructor-arg value="23" />
    </bean>

    <bean class="com.stackroute.domain.Movie" name="movie a,b">
        <constructor-arg ref="Actor" />
    </bean>

</beans>
